@model IEnumerable<SymphonyLimited.Models.Course>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main style="margin-top: 58px">
    <div class="container pt-4">
        <section>
            <div class="container-fluid mt-4">
                <table id="coursesTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>SNo #</th>
                            <th>Course Name</th>
                            <th>Description</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Basic Fees</th>
                            <th>Advanced Fees</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @if (Model != null && Model.Any())
                        {
                            foreach (var course in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>@course.CourseName</td>
                                    <td>@course.Description</td>
                                    <td>@course.StartTime.ToString("yyyy-MM-dd")</td>
                                    <td>@course.EndTime.ToString("yyyy-MM-dd")</td>
                                    <td>@course.BasicFees</td>
                                    <td>@course.AdvancedFees</td>
                                    <td>
                                        <a asp-action="Restore" asp-route-id="@course.CourseId" class="btn btn-sm btn-danger">Restore</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8" class="text-center">No courses available</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </section>
        <!--Section: Statistics with subtitles-->
    </div>
</main>