@model IEnumerable<SymphonyLimited.Models.Result>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    /* Prevent table cells from wrapping */
    #coursesTable th,
    #coursesTable td {
        white-space: nowrap;
    }
</style>

<main style="margin-top: 58px">
    <div class="container pt-4">
        <section>
            <div class="container-fluid mt-4">
                <div class="d-flex justify-content-between mb-3">
                    <a asp-action="Create" class="btn btn-primary">Create</a>
                    <a asp-action="ViewTrash" class="btn btn-danger">Trashed (@ViewBag.TrashedCount)</a>
                </div>
                <div class="table-responsive">
                    <table id="coursesTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>SNo #</th>
                            <th>Student Name</th>
                            <th>Marks</th>
                            <th>ClassType</th>
                            <th>Course Fees</th>
                            <th>Last Date Of Payment</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @if (Model != null && Model.Any())
                        {
                            foreach (var course in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>@course.Student.Name</td>
                                    <td>@course.Marks.ToString("N2")</td>
                                    <td>@course.ClassType.ToString()</td>
                                    <td>@course.CourseFees.ToString("N2")</td>
                                    <td>@course.LastDateOfPayment.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@course.ResultId" class="btn btn-sm btn-warning">Edit</a>
                                            <a asp-action="Trash" asp-route-id="@course.ResultId" class="btn btn-sm btn-danger">Trash</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center">No Result available</td>
                            </tr>
                        }
                    </tbody>

                </table>
                </div>
            </div>
        </section>
        <!--Section: Statistics with subtitles-->
    </div>
</main>